@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body{
    background-image: url(./body.jpg);
    color: #00f7f9;
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}
.login marquee{
    background-color: #2c2d483d;
    font-size: 35px;
    margin: 0;
    text-align: center;
    height: 50px;
}
.data_box{
    margin-top: 10vh;
    height: fit-content;
    align-items: center;
    display: flex;
    flex-direction:column;
    }

input{
    margin: 10px 0px;
    height: 30px;
    width: 250px;
    border: 2px solid #00ffc2;
    border-radius: 5px;
}


.data_box button{
    margin: 30px 0px ;
    width: 250px;
    height: 50px;
    color: black;
    border-radius: 5px;
    background-color: #26f126;
    font-weight: 900;
    font-size: 30px;
    cursor:grab;
}

.result{
    text-align: center;
}

.footer{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 0;
    /* background-color: #00184b; */
    color: #0a0a0a;
    text-align: center;
    width: 100vw;
    justify-content: center;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    display: flex;
    color: rgb(7, 7, 7);
    justify-content: space-evenly;
}

#linkedIn,
#insta,
#github,
#teli {
    font-size: 50px;
  background-color: #18191f;
  color: #fff;
  box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080,
    2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080;
  border-radius: 29px;
  animation: animate 5s linear infinite;
  text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff,
    0 0 200px #0072ff;
}
#linkedIn {
  animation-delay: 0.2s;
}
#insta {
  animation-delay: 0.5s;
}
#github {
  animation-delay: 0.8s;
}

@keyframes animate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

.predict{
  height: 50vh;
  background:#8c8fb3;
  display: flex; 
  align-items: center;
  justify-content: center;
  width: 440px;
  border-radius: 6px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1); 
  box-shadow: 0 2px 5px rgba(0, 0,0, 0.3);
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.openpopup{
  top: 50%;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);

}

.popup{
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
 
}

.popup button{
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  color: #fff;
  background: #6fd649;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0,0, 0.3);
}

.popup h1{
  color: fff900;
}

.popup h4{
  color: white;
  font-size: 30px;
}

@media only screen and (max-width: 600px) {
 .predict{
  height: 55vh;
  width: 85vw;
 }
 .popup button{
  margin-top: 15px;

 }

}